In [78]:
import pandas as pd
markertingdata=pd.read_csv("/content/train.csv")
markertingdata.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [79]:
markertingdata.isnull()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5843,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5844,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5845,False,False,False,False,False,False,False,False,False,False,False,False,True,False
5846,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [80]:
markertingdata.head(15)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
7,9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
8,10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
9,11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
10,12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60
11,13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00
12,14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50
13,15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
14,16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40

#####Checking for null values

In [81]:
markertingdata.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

**(b) Removing the units from Mileage, Engine, Power and New_Price and converting them into float**

In [82]:
df= pd.DataFrame(markertingdata)
df['Mileage'] = df['Mileage'].str.extract('(\d+\.\d+)').astype(float)

df['Engine'] = df['Engine'].str.replace(' CC', '').astype(float)

df['Power'] = df['Power'].str.extract('(\d+\.\d+)').astype(float)

df['New_Price'] = df['New_Price'].str.extract('(\d+\.\d+)').astype(float)

df.head(5)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199.0,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,NaN,3.50

##### **(a) Filling in missing values in Mileage, Engine, Power,Seats**

In [83]:
df['Mileage'].fillna(df['Mileage'].mean(),inplace=True)
df['Engine'].fillna(df['Engine'].mean(),inplace=True)
df['Power'].fillna(df['Power'].mean(),inplace=True)

df['Seats'].fillna(df['Seats'].mode()[0],inplace=True)

df.drop('New_Price', axis=1, inplace=True)#axis=1 indicates to drop a column

In [84]:
output_csv_file = 'Preprocessed_data.csv'
df.to_csv(output_csv_file, index=False)

In [85]:
df1=pd.read_csv("/content/Preprocessed_data.csv")

In [86]:
df1.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [87]:
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.670000,1582.0,126.200000,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.159379,1199.0,88.700000,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.770000,1248.0,88.760000,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.200000,1968.0,140.800000,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.080000,1461.0,63.100000,5.0,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.400000,1248.0,107.352151,5.0,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.400000,1120.0,107.352151,5.0,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.000000,2498.0,107.352151,8.0,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.900000,998.0,67.100000,5.0,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.440000,936.0,57.600000,5.0,2.50

##### Take a look at the unique values for some of our categorical variables: "Fuel_Type," "Transmission," and "Owner_Type.

In [88]:
df1['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'Electric'], dtype=object)

In [89]:
df1['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [90]:
df1['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

###### **(c) To work with our categorical variables, we are converting them into numerical data using one-hot encoding.**

In [91]:
df1['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
df1['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
df1['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

In [92]:
df1.head(7)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.670000,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.159379,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.770000,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.200000,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.080000,1461.0,63.10,5.0,3.50
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,1,11.360000,2755.0,171.50,8.0,17.50
6,8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,0,0,1,20.540000,1598.0,103.60,5.0,5.20

In [93]:
#Save the encoded data in separate csv file
output_csv_file = 'encoded_data.csv'
df1.to_csv(output_csv_file, index=False)

##### **(d) We are adding a new column "CURRENT AGE OF THE CAR" to dataset through which we can see the current age of cars**

In [94]:
from datetime import datetime
Present_year = datetime.now().year
df1['current_age'] = Present_year - df1['Year']
df1

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,current_age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.670000,1582.0,126.200000,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.159379,1199.0,88.700000,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.770000,1248.0,88.760000,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.200000,1968.0,140.800000,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.080000,1461.0,63.100000,5.0,3.50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,0,0,1,28.400000,1248.0,107.352151,5.0,4.75,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,0,0,1,24.400000,1120.0,107.352151,5.0,4.00,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,0,0,2,14.000000,2498.0,107.352151,8.0,2.90,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,1,0,1,18.900000,998.0,67.100000,5.0,2.65,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,0,0,1,25.440000,936.0,57.600000,5.0,2.50,13

In [95]:
#Save the encoded data in separate csv file
output_csv_file = 'UpdatedColumnData.csv'
df1.to_csv(output_csv_file, index=False)

In [96]:
df2=pd.read_csv("/content/UpdatedColumnData.csv")
df2.head(6)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,current_age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.670000,1582.0,126.20,5.0,12.50,9
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.159379,1199.0,88.70,5.0,4.50,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.770000,1248.0,88.76,7.0,6.00,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.200000,1968.0,140.80,5.0,17.74,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.080000,1461.0,63.10,5.0,3.50,11
5,7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,0,1,1,11.360000,2755.0,171.50,8.0,17.50,8

##### e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or their equivalent operations in python) on this dataset.

In [97]:
selected_columns = df1[['Name', 'Mileage', 'Year', 'Engine', 'Price','Location']]
selected_columns

,Name,Mileage,Year,Engine,Price,Location
0,Hyundai Creta 1.6 CRDi SX Option,19.670000,2015,1582.0,12.50,Pune
1,Honda Jazz V,18.159379,2011,1199.0,4.50,Chennai
2,Maruti Ertiga VDI,20.770000,2012,1248.0,6.00,Chennai
3,Audi A4 New 2.0 TDI Multitronic,15.200000,2013,1968.0,17.74,Coimbatore
4,Nissan Micra Diesel XV,23.080000,2013,1461.0,3.50,Jaipur
...,...,...,...,...,...,...
5842,Maruti Swift VDI,28.400000,2014,1248.0,4.75,Delhi
5843,Hyundai Xcent 1.1 CRDi S,24.400000,2015,1120.0,4.00,Jaipur
5844,Mahindra Xylo D4 BSIV,14.000000,2012,2498.0,2.90,Jaipur
5845,Maruti Wagon R VXI,18.900000,2013,998.0,2.65,Kolkata
5846,Chevrolet Beat Diesel,25.440000,2011,936.0,2.50,Hyderabad

In [98]:
# Renaming columns
renamed_df1 = selected_columns.rename(columns={'Mileage': 'Mileage_kmpl', 'Engine': 'Engine_CC'})
renamed_df1

,Name,Mileage_kmpl,Year,Engine_CC,Price,Location
0,Hyundai Creta 1.6 CRDi SX Option,19.670000,2015,1582.0,12.50,Pune
1,Honda Jazz V,18.159379,2011,1199.0,4.50,Chennai
2,Maruti Ertiga VDI,20.770000,2012,1248.0,6.00,Chennai
3,Audi A4 New 2.0 TDI Multitronic,15.200000,2013,1968.0,17.74,Coimbatore
4,Nissan Micra Diesel XV,23.080000,2013,1461.0,3.50,Jaipur
...,...,...,...,...,...,...
5842,Maruti Swift VDI,28.400000,2014,1248.0,4.75,Delhi
5843,Hyundai Xcent 1.1 CRDi S,24.400000,2015,1120.0,4.00,Jaipur
5844,Mahindra Xylo D4 BSIV,14.000000,2012,2498.0,2.90,Jaipur
5845,Maruti Wagon R VXI,18.900000,2013,998.0,2.65,Kolkata
5846,Chevrolet Beat Diesel,25.440000,2011,936.0,2.50,Hyderabad

In [108]:
df1['Mileage_per_Year'] = df1['Mileage'] / df1['current_age']
df1['Mileage_per_Year']

0       2.185556
1       1.396875
2       1.730833
3       1.381818
4       2.098182
          ...
5842    2.840000
5843    2.711111
5844    1.166667
5845    1.718182
5846    1.956923
Name: Mileage_per_Year, Length: 5847, dtype: float64

In [99]:
# Filtering based on a condition
filtered_data = renamed_df1[df1['Fuel_Type'] == 1]
filtered_data

,Name,Mileage_kmpl,Year,Engine_CC,Price,Location
1,Honda Jazz V,18.159379,2011,1199.0,4.50,Chennai
8,Maruti Ciaz Zeta,21.560000,2018,1462.0,9.95,Kochi
9,Honda City 1.5 V AT Sunroof,16.800000,2012,1497.0,4.49,Kolkata
20,Audi A6 2011-2015 35 TFSI Technology,13.530000,2015,1984.0,23.50,Mumbai
21,Hyundai i20 1.2 Magna,18.500000,2010,1197.0,1.87,Kolkata
...,...,...,...,...,...,...
5832,Hyundai Getz GLE,15.300000,2007,1341.0,2.20,Coimbatore
5837,Toyota Camry Hybrid,19.160000,2015,2494.0,19.75,Mumbai
5838,Honda Brio 1.2 VX MT,18.500000,2013,1198.0,3.20,Delhi
5839,Skoda Superb 3.6 V6 FSI,0.000000,2009,3597.0,4.75,Hyderabad
5845,Maruti Wagon R VXI,18.900000,2013,998.0,2.65,Kolkata

In [100]:
# Arranging data
arranged_data = filtered_data.sort_values(by='Price')
arranged_data.head(7)

                      Name  Mileage_kmpl  Year  Engine_CC  Price Location
1660          Tata Nano Lx          26.0  2011      624.0   0.44     Pune
2758      Hyundai Getz GLS          15.3  2005     1341.0   0.45     Pune
3039        Maruti Zen LXI          17.3  1998      993.0   0.45   Jaipur
1577  Maruti 800 Std BSIII          16.1  2004      796.0   0.45   Jaipur
2520          Tata Nano Cx          26.0  2010      624.0   0.50   Jaipur
3127        Maruti 800 Std          16.1  2003      796.0   0.50     Pune
5500        Maruti 800 Std          16.1  2002      796.0   0.51   Jaipur

In [101]:
# Grouping and summarizing
summ_data =arranged_data.groupby('Location')['Price'].mean()

summ_data.head(7)

Location
Ahmedabad     4.735309
Bangalore     7.199710
Chennai       4.116632
Coimbatore    7.902482
Delhi         6.351055
Hyderabad     5.126526
Jaipur        3.167614
Name: Price, dtype: float64